<section class="bg-themeWhite py-20 border-t border-borderColor">
  <div class="container lg:px-10 mx-auto">
    <div class="grid grid-cols-2 gap-36">
      <div>
        {{ $img := resources.Get "images/Logo.svg" }}
        <img class="w-auto" alt="Contact" src="{{ $img.Permalink }}" />
        <p class="w-4/5 text-sm text-fontColor pt-6">
          HedgePie is a community-driven decentralized network of investors and
          crypto enthusiasts from all over the world.
        </p>
        <p class="w-4/5 text-sm text-fontColor pt-4">
          Stay on top of the action with the latest news and important
          announcements on our social media channels.
        </p>
        <p class="w-4/5 text-sm text-fontColor pt-4">
          Need some information or have a question? Contact us at
          <a href="mailto:support@hedgepie.finance">support@hedgepie.finance</a>
          or
          <a href="mailto:techsupport@hedgepie.finance"
            >techsupport@hedgepie.finance</a
          >
          and our team will be in touch soon.
        </p>
        <div
          class="hidden md:flex md:justify-start md:items-start md:gap-x-4 mt-6"
        >
          {{ $Twitterbimg := resources.Get "images/Twitter.svg" }} {{ $Fbimg :=
          resources.Get "images/FB.svg" }} {{ $Inimg := resources.Get
          "images/LinkedIn.svg" }} {{ $Discordimg := resources.Get
          "images/Discord.svg" }} {{ $Integartionimg := resources.Get
          "images/Integration.svg" }} {{ $Telegramimg := resources.Get
          "images/Telegram.png" }} {{ $Mailimg := resources.Get
          "images/Mail.jpg" }}
          <a
            href="https://twitter.com/Hedgepiefinance"
            target="_blank"
            rel="noopener"
          >
            <img class="w-auto" alt="logo" src="{{ $Twitterbimg.Permalink }}" />
          </a>
          <a
            href="https://discord.gg/FBjcsWDYQv"
            target="_blank"
            rel="noopener"
          >
            <img class="w-auto" alt="logo" src="{{ $Discordimg.Permalink }}" />
          </a>
          <a
            href="https://t.me/HedgePie_Finance"
            target="_blank"
            rel="noopener"
          >
            <img
              class="w-auto"
              alt="logo"
              src="{{ $Telegramimg.Permalink }}"
              width="40px"
            />
          </a>
          <a
            href="mailto:support@hedgepie.finance"
            target="_blank"
            rel="noopener"
          >
            <img
              class="w-auto"
              alt="logo"
              src="{{ $Mailimg.Permalink }}"
              width="40px"
            />
          </a>
          <!--<img class="w-auto" alt="logo" src="{{ $Discordimg.Permalink }}">-->
          <!--<img class="w-auto" alt="logo" src="{{ $Fbimg.Permalink }}">-->
          <!--<img class="w-auto" alt="logo" src="{{ $Inimg.Permalink }}">-->
          <!--<img class="w-auto" alt="logo" src="{{ $Integartionimg.Permalink }}">-->
        </div>
      </div>
      <div class="hidden md:flex md:justify-start md:items-start md:gap-x-12">
        <a
          class="text-base font-semibold leading-6 text-fontDark hover:text-fontColor"
          href="#about-us"
          >About Us</a
        >
        <a
          class="text-base font-semibold leading-6 text-fontDark hover:text-fontColor"
          href="#how-work"
          >How it works</a
        >
        <a
          class="text-base font-semibold leading-6 text-fontDark hover:text-fontColor"
          href="#ttfs"
          >TTFs</a
        >
        <a
          class="text-base font-semibold leading-6 text-fontDark hover:text-fontColor"
          href="https://hedgepie.finance"
          >Join Us</a
        >
        <a
          class="text-base font-semibold leading-6 text-fontDark hover:text-fontColor"
          href="https://innovationupstream.gitbook.io/hedgepie-doc/"
          >Docs</a
        >
        <a
          class="text-base font-semibold leading-6 text-fontDark hover:text-fontColor"
          href="https://zealy.io/c/hedgepiefinance/questboard/"
          target="_blank"
          >Airdrop</a
        >
        <!--<a class=" text-base font-semibold leading-6 text-fontDark hover:text-fontColor">FAQs</a>-->
      </div>
    </div>
  </div>
</section>
<!-- copy right -->
<div
  class="hidden md:flex md:justify-center md:items-start md:gap-x-6 py-6 border-t border-borderColor"
>
  <p class="text-sm text-fontColor">@ 2022 HedgePie, All rights reserved.</p>
  <p class="text-sm text-fontColor">Privacy policy</p>
  <p class="text-sm text-fontColor">Terms & Conditions</p>
</div>
<script>
  // data array
  var data = [
    {
      title: "What is HedgePie?",
      description:
        "HedgePie is a revolutionary DeFi platform designed to democratize decentralized finance investment by simplifying the process. It connects potential DeFi investors, known as Fans, with seasoned experts and their curated funds, known as Fund Creators.",
    },
    {
      title: "Do I need previous DeFi knowledge/experience to use HedgePie?",
      description:
        "Not at all! HedgePie lets the experts do the exhaustive research. Based on your risk appetite you can then choose from a variety of Funds curated by us and created by Fund Creators. Each Fund at Hedgepie is composed of respected and carefully selected DeFi protocols with a solid reputation and showcases its historical performance for your informed decision-making.",
    },
    {
      title:
        "How much will it cost to allocate my crypto into HedgePie curated Funds? ",
      description:
        "Each Fund Creator sets their own performance fee which is made transparent. This performance fee is a % retained from the gains you earned on top of your original contribution to a Fund. Fox ex: You contribute $100 to a fund with a performance fee of 10%. Your fund earns $20 by end of month, making your return $100 (original investment) + $20 - $2 (10% of $20) = $118. Remember you will also need to pay the BNB Chain fee for placing the transactions. ",
    },
    {
      title: "How much will it cost to create my Fund as a Fund Creator? ",
      description:
        "There is no charge at the moment of creating the Fund. HedgePie retains 20% of the Performance Fee which is set by the Fund Creator and paid by each Fan. For ex: A Fan contributes $100 and pays a $10 performance fee which was set by the Fund Creator. The Fund Creator gets $8 of the performance fee paid; Hedgepie retains $2.",
    },
    {
      title:
        "Is there a minimum amount required to enter a Fund Creator’s curated Fund?",
      description:
        "No. As we said, no entry barriers here at HedgePie! There is no minimum amount although we recommend checking the fees you are going to be charged (shown on Metamask or the wallet of your preference before placing the transaction) so that they make sense if you are allocating very little crypto.",
    },
    {
      title: "Can I withdraw at any time without any penalties?",
      description:
        "Yes! HedgePie is on a mission to simplify the experience for everyone which includes hassle-free withdrawals. You can withdraw your crypto at any time, only paying the clearly displayed Performance Fee to the Fund Creator.",
    },
    {
      title: "Who are the Fund Creators on Hedgepie?",
      description:
        "Fund Creators are skilled DeFi experts and experienced individuals within the DeFi space who have a proven track record of success. They craft unique funds, offering a diverse investment portfolio to our users. All Funds undergo a rigorous curation process by HedgePie before becoming live for Fans. Wanna become a Fund Creator? Subscribe to our Mailing List and follow the steps to become a beta tester.",
    },
    {
      title: "How is HedgePie better than Copy Trading?",
      description:
        "HedgePie offers significant advantages over traditional Copy Trading:\n\nSelf-Custodianship and Privacy: Unlike Copy Trading, which often requires using a centralized platform that might request personal data, HedgePie operates on a self-custodial basis facilitated by smart contracts. This approach ensures your data privacy and gives you full control over your assets.\n\nActive Management: While Copy Trading involves your account automatically mirroring the trades of other investors without any active intervention, HedgePie provides a more dynamic approach. Our Fund Creators actively manage the funds to optimize performance, ensuring Fans benefit from their expertise and active decision-making.",
    },
    {
      title: "What’s in it for me as a beta tester?",
      description:
        "By subscribing to our Mailing List and following suggested steps to becoming a beta tester, you'll get exclusive early access to our platform. As a Fan, you can invest in your chosen Funds before others. As a Fund Creator, you can establish your fund, promote it within your community, and set a Performance Fee that matches your expertise, ahead of others. Plus, both Fans and Fund Creators get early access to HedgePie’s token, HPFT.\n\nWe will also have token incentives and specific airdrops at special occasions so keep an eye on your email and (Twitter link) !",
    },
    {
      title: "How does Hedgepie ensure the security of my investments?",
      description:
        "Our internal team of experts conducts rigorous checks and approves all protocols before integration. Fund Creators can only compose their funds based on these reputed integrated protocols. Moreover, there are specific validation requirements to become a Fund Creator and all Funds are audited by the HedgePie team before going live.",
    },
    {
      title: "What personal data is collected when using HedgePie?",
      description:
        "No personal data is collected. We respect your privacy. Users connect through a non-custodial wallet, allowing us access only to the public address associated with your transactions.",
    },
    {
      title: "How can I contact Hedgepie's support team?",
      description:
        "You can reach out to our support team through support@hedgepie.com section on our website. We are dedicated to providing you with a seamless experience and are always ready to assist you.",
    },
  ];
  $.each(data, function (index, item) {
    var accordionItem = $("<div>", {
      class: "accordion-item mb-12 cursor-pointer",
    });
    var accordionTitle = $("<div>", {
      class: "accordion-title flex justify-between items-center",
    });
    var title = $("<p>", { class: "text-3xl text-fontDark", text: item.title });
    var toggleBtn = $("<button>", {
      class:
        "w-6 h-6 bg-primary rounded-full text-white text-xl flex justify-center items-center",
    });
    var plusIcon = $("<span>", { class: "plusIcon", text: "+" });
    var minusIcon = $("<span>", { class: "minusIcon", text: "-" }).hide();
    var accordionContent = $("<div>", {
      class: "accordion-content pt-6",
      text: item.description,
    }).hide();

    toggleBtn.append(plusIcon, minusIcon);
    accordionTitle.append(title, toggleBtn);
    accordionItem.append(accordionTitle, accordionContent);
    $("#accordion-container").append(accordionItem);

    // add click event to toggle accordion
    accordionItem.click(function () {
      accordionTitle.toggleClass("active");
      plusIcon.toggle();
      minusIcon.toggle();
      accordionContent.slideToggle();
    });
  });

  $(document).ready(function () {
    $(".slider").slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
      arrows: false,
      variableWidth: true,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 3,
          },
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
          },
        },
      ],
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    AOS.init();
  });
</script>
